@layer reset {
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.4;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.3;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
}

@layer base {
  :root {
    /* colors */
    --White: hsl(0, 0%, 100%);   
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
    --Stone900: hsl(24, 5%, 18%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone100: hsl(30, 54%, 90%);
    --Brown-800: hsl(14, 45%, 36%);

    /* spacing */
    --space-100: 0.5rem; /* 8px */
    --space-150: 0.75rem; /* 12px */
    --space-200: 1rem; /* 16px */
    --space-300: 1.5rem; /* 24px */
    --space-400: 2rem; /* 32px */
    --space-500: 2.5rem; /* 40px */
    --space-600: 3rem; /* 48px */
    --space-1600: 8rem; /* 128px */


    /* font families */
    --main: "Outfit", sans-serif;
    --headline: "Young Serif", serif;

    /* type scale */
    --base-size: 1rem; /* 16px */
    --scale: 1.333;

    /* Start from base size for smallest heading */
    --h6: var(--base-size); 
    --h5: calc(var(--h6) * var(--scale)); /* scale up from h6 */
    --h4: calc(var(--h5) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));

    --small: calc(var(--base-size) / var(--scale)); /* smaller than base */
  }

  /* border box model: https://css-tricks.com/box-sizing/ */
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--main);
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--headline);
  }
  h1 {
    font-size: var(--h1);
  }
  h2 {
    font-size: var(--h2);
  }
  h3 {
    font-size: var(--h3);
  }
  h4 {
    font-size: var(--h4);
  }
  h5 {
    font-size: var(--h5);
  }
  h6 {
    font-size: var(--h6);
  }
  .h1 {
    font-size: var(--h1);
  }
  .h2 {
    font-size: var(--h2);
  }
  .h3 {
    font-size: var(--h3);
  }
  .h4 {
    font-size: var(--h4);
  }
  .h5 {
    font-size: var(--h5);
  }
  .h6 {
    font-size: var(--h6);
  }
  p {
    font-size: var(--base-size);
    font-family: var(--main);
  }
 
  figure {
    margin: 0;
    padding: 0;
  }
}

@layer components {
    footer.attribution {
        padding: 2rem 0;
        background-color: var(--Stone100);
    }
    .attribution p{ font-size: var(--small); text-align: center; }
    .attribution a:hover, .attribution a:focus, .attribution a:active {color: var(--Green);}

    body {
        color: var(--Stone600);
        font-size: var(--base-size);
        font-family: var(--main);
        background-color: var(--Stone100);
    }

  h1 {
    color: var(--Stone900);
    margin-block-start: 0;
  }
  h2,h3 {
    margin-block-start: 0;
    color: var(--Brown-800);
  }
  UL, ol {
    padding-inline-start: var(--space-300);
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-position: outside;
  }

  ul li, ol li {
    padding-left: var(--space-200);
  }

  ul li:not(:last-child),
  ol li:not(:last-child) {
    margin-bottom: var(--space-100);
  }

  ol li span {
    font-weight: 700;
  }

  ol li::marker {
  color: var(--Brown-800);
  font-weight: 700;
}

  p {
    margin-block-start: 0;
  }

  hr {
    border: none; /* Removes the default border */
    height: 1px; /* Sets the thickness */
    background-color: var(--Stone150); /* Sets the color */
    margin: .01px 0; /* Adds spacing above and below */
  }

  .recipe {
    background-color: var(--White);
    /* min-width: 20.438rem; */
    width: 100%;           /* Allow card to fill container width */
    margin: auto;
    display: flex;            
    flex-direction: column;  
    gap: var(--space-500);
  }
  .recipe-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-400);
    padding:  0 var(--space-400) var(--space-500) var(--space-400);
}

  section {
      display: flex;
      flex-direction: column;
      gap: var(--space-300);
  }

  .preparation-time {
    background-color: var(--Rose-50);
    padding: var(--space-300);
    column-gap: var(--space-200);
    border-radius: var(--space-150);
  }

  .preparation-time h3 {
    font-family: var(--main);
    font-size: 1.25rem;
  }

  .nutrition table {
    width: 100%;
    border-collapse: collapse;
  }

  .nutrition table tr:not(:last-child) {
    border-bottom: 1px solid var(--Stone150);
  }

  .nutrition table td {
    padding: var(--space-150) 0;
  }

  .nutrition table tr:first-child td {
    padding-top: 0;
  }

  .nutrition table tr:last-child td {
    padding-bottom: 0;
  }

  .nutrition table td:nth-child(1) {
    padding-inline-start: var(--space-400);
  }

  .nutrition table td:nth-child(2) {
    color: var(--Brown-800);
    font-weight: 700;
  }

@layer media-queries {

  @media (prefers-reduced-motion: reduce) {
  transition: none; /* Remove transitions to respect user preference */
}


  @media (min-width: 48rem) {     /* 768px and above -- tablet */
    main {
      max-width: 38.5rem;
      margin: 0 auto;
      padding: var(--space-1600) var(--space-600);
      }

      .recipe {
    border-radius: var(--space-300);
    padding: var(--space-500);
    gap: var(--space-500);
  }

    .recipe-content {
    gap: var(--space-400);
    padding: 0 !important;
}

      img {
        border-radius: var(--space-150);
    }
  } 

  @media (min-width: 90rem) {     /* 1440px and above -- desktop */
    main {
      max-width: 46rem;
    }
  } 

}